@media (max-width: 1367px){
  .b-container__slide{
    background-position: -260px -58px!important;
  }
}

@media (max-width: 1024px){
  .content_middle {
   padding: 0 2% !important;
  }
  .b-top__list {
    margin: 0 1% 0 0 !important;
    width: 61% !important;
  }
  .b-top__callback {
    width: 19% !important;
  }
  .b-main {
    width: 74% !important;
    margin: 0 2% 0 0 !important;
  }
  .b-order {
    display: inline-block !important;
    width: 24% !important;
  }
  .b-main__mainblock {
    position: relative !important;
    left: 200px !important;
  }
  .b-container__slide {
    background-position: -300px -58px!important;
  }
  .b-order__subtitle p {
    font-size: 22px!important;
  }
  .b-price__action p {
    font-size: 32px!important;
  }
  .b-price__action span:after {
    top: 27px!important;
    width: 12px!important;
    height: 3px!important;
  }
  .b-price__cross {
    font-size: 20px!important;
  }
  .b-price__cross:after {
    top: -3px!important;
  }
  .b-formItem__input {
    height: 37px!important;
  }
  .b-formItem__orderButton {
    line-height: 60px!important;
    width: 100%!important;
    height: 60px!important;
    padding: 0px!important;
  }
  .b-slider__main {
    padding: 20px 0 0!important;
  }
  .b-container__slide {
    padding: 0 0 80px!important;
  }
}

@media (max-width: 768px){
  .content_middle {
    padding: 0 2% !important;
  }
  .b-top__list {
    margin: 0 1% 0 0 !important;
    width: 69% !important;
  }
  .b-top__callback {
    width: 11% !important;
  }
  .b-callback {
    padding: 8px 0 0 10px !important;
    line-height: 1.0 !important;
    width: 80px !important;
    height: 34px !important;
    font-size: 12px !important;
  }

  .b-callback:before {
    left: 2px !important;
  }
  .b-main__subtitle {
    margin: 9% auto 0;
  }
  .b-main {
    width: 69% !important;
    margin: 0 1% 0 0 !important;
  }
  .b-order {
    width: 30%!important;
  }
  .b-main__mainblock {
    position: relative !important;
    left: 0px!important;
  }
  .b-main__title {
    font-size: 44px !important;
    font-weight: 400 !important;
  }
  .b-imagebox {
    padding: 20px 0 0!important;
  }
  .b-list__item {
    margin: 0 0 0 15px;
  }
  .b-container__slide {
    padding: 0 0 20px!important;
  }
  .b-imagebox__left {
    left: 50px!important;
  }
  .b-imagebox__right {
    left: 5px!important;
  }
  .b-left__about {
    left: 50px!important;
    bottom: -10px!important;
    width: 140px!important;
    padding: 15px 20px 20px 40px!important;
    background-size: 90%!important;
    text-align: left;
  }
  .b-right__about {
    right: 30px!important;
    bottom: 20px!important;
    width: 90px!important;
    padding: 7px 30px 20px 40px!important;
    background-size: 90%!important;
  }
  .b-imagebox {
    background-size: 60%!important;
    background-position: 70px 0px!important;
  }
  .b-imagebox__center {
    top: 110px !important;
    left: 200px !important;
  }
  .b-left__about, .b-right__about {
    font-size: 12px !important;
  }
  .b-container__slide {
    background-position: -300px -58px!important;
  }
  .b-order__subtitle p {
    font-size: 22px!important;
  }
  .b-price__action p {
    font-size: 32px!important;
  }
  .b-price__action span:after {
    top: 27px!important;
    width: 12px!important;
    height: 3px!important;
  }
  .b-price__old p.b-price__text {
    font-size: 12px!important;
  }
  .b-formItem label {
    font-size: 12px!important;
  }
  .b-imagebox__left .b-imagebox__img {
    max-width:180px;
  }
  .b-imagebox__right .b-imagebox__img {
    max-width: 300px;
  }
  .b-price__cross:after {
    right: 30px!important;
    width: 52px!important;
    height: 26px!important;
  }
  .b-price__cross {
    font-size: 16px!important;
  }
  .b-price__cross:after {
    top: -3px!important;
  }
  .b-formItem__input {
    height: 37px!important;
  }
  .b-formItem__orderButton {
    line-height: 60px!important;
    width: 100%!important;
    height: 60px!important;
    padding: 0px!important;
  }
  .b-slider__main {
    padding: 60px 0 0!important;
  }
  .b-container__slide {
    background-image: none!important;
  }
  .b-action__picture {
    width: 41%!important;
  }
  .b-action__inform {
    width: 57%!important;
  }
  .b-container__consist {
    padding: 137px 0 80px!important;
  }
  .b-container__action {
    padding: 96px 0 100px!important;
    background: url(../img/action_bg.png);
  }
}
@media (max-width: 767px) {
  .content_middle {
    padding: 0 2% !important;
  }

  .b-product_image {
    width: 100%;
    margin: 0 0 5% 0;
  }
  .b-product__description {
    width: 100%;
  }
  .b-products__productLeft, .b-products__productRight {
    width: 100%;
    margin: 0 0 10% 0;
    text-align: center;
  }
  .b-products {
    margin: 0;
  }
  .b-action__inform {
    width: 100%!important;
    text-align: center!important;
  }
  .b-consist__title {
    font-size: 36px;
  }
  .b-inform__title {
    font-size: 36px;
  }
  .b-container__action {
    background-size: cover!important;
  }
  .b-action__picture {
    width: 100%!important;
    top: 45px;
  }
  .b-callback {
    position: fixed;
    bottom: 5px;
    right:5px;
   z-index: 1000;
  }
  .b-top__logo {
    width: 100%;
    margin: 0 auto 2%;
    text-align: center;
  }
  .b-list__item{
    margin: 0 auto 5%;
    padding: 10px 0 0 37px;
    max-width: 200px;
}
  .b-main {
    width: 100%!important;
    margin: 0 0 0!important;
  }
  .b-order {
    width: 100%!important;
    margin: 280px 0 0 0;
    background-size: cover;
  }
  .b-main__title {
    font-size: 36px!important;
    max-width: 100%!important;
    margin: 0!important;
  }
  .b-main__title:after {
    top: 55px;
  }
  .b-main__subtitle {
    font-size: 18px;
  }
  .b-top__list {
    width: 100%!important;
    margin: 2% auto 0!important;
    display: block!important;
    max-width: 200px;
  }
  .b-imagebox__left {
    left: -10px!important;
  }
  .b-imagebox__right {
    left: -35px!important;
  }
  .b-left__about {
    left: 12px!important;
    bottom: -10px!important;
    width: 140px!important;
    padding: 15px 20px 20px 40px!important;
    background-size: 90%!important;
    text-align: left;
  }
  .b-right__about {
    right: 5px!important;
    bottom: 10px!important;
    width: 90px!important;
    padding: 7px 30px 20px 40px!important;
    background-size: 90%!important;
  }
  .b-imagebox {
    background-size: 60%!important;
    background-position: 0px 15px!important;
    left: 100px;
  }
  .b-imagebox__center {
    top: 80px!important;
    left: 115px!important;
  }
  .b-left__about, .b-right__about {
    font-size: 12px !important;
  }
  .b-imagebox__left .b-imagebox__img {
    max-width:150px;
  }
  .b-imagebox__right .b-imagebox__img {
    max-width: 250px;
  }
  .b-slider__main {
    padding: 60px 0 0px!important;
  }
  .b-imagebox__text:after {
    top: 65px;
  }
  .b-imagebox__text {
    font-size: 14px;
    line-height: 1.2;
    position: absolute;
    top: -10px;
    left: -100px;
    max-width: 100px;
  }
}
@media (max-width: 480px) {
  .content_middle {
    padding: 0 2% !important;
  }

  .b-product_image {
    width: 100%;
    margin: 0 0 5% 0;
  }
  .b-product__description {
    width: 100%;
  }
  .b-products__productLeft, .b-products__productRight {
    width: 100%;
    margin: 0 0 10% 0;
    text-align: center;
  }
  .b-products {
    margin: 0;
  }
  .b-action__inform {
    width: 100%!important;
    text-align: center!important;
  }
  .b-consist__title {
    font-size: 36px;
  }
  .b-inform__title {
    font-size: 36px;
  }
  .b-container__action {
    background-size: cover!important;
  }
  .b-action__picture {
    width: 100%!important;
    top: 45px;
  }
  .b-callback {
    position: fixed;
    bottom: 5px;
    right:5px;
    z-index: 1000;
  }
  .b-top__logo {
    width: 100%;
    margin: 0 auto 2%;
    text-align: center;
  }
  .b-list__item{
    margin: 0 auto 5%;
    padding: 10px 0 0 37px;
    max-width: 200px;
  }
  .b-main {
    width: 100%!important;
    margin: 0 0 0!important;
  }
  .b-order {
    width: 100%!important;
    margin: 220px 0 0 0;
  }
  .b-main__title {
    font-size: 36px!important;
    max-width: 100%!important;
    margin: 0!important;
  }
  .b-main__title:after {
    top: 85px;
  }
  .b-main__subtitle {
    font-size: 18px;
  }
  .b-top__list {
    width: 100%!important;
    margin: 2% auto 0!important;
    display: block!important;
    max-width: 200px;
  }
  .b-imagebox__left {
    left: 10px!important;
  }
  .b-imagebox__right {
    left: 5px!important;
  }
  .b-left__about {
    left: -20px!important;
    bottom: -10px!important;
    width: 140px!important;
    padding: 15px 20px 20px 40px!important;
    background-size: 90%!important;
    text-align: left;
  }
  .b-right__about {
    right: -35px!important;
    bottom: 10px!important;
    width: 90px!important;
    padding: 7px 30px 20px 40px!important;
    background-size: 90%!important;
  }
  .b-imagebox {
    background-size: 60%!important;
    background-position: 0px 15px!important;
  }
  .b-imagebox__center {
    top: 50px!important;
    left: 90px!important;
  }
  .b-left__about, .b-right__about {
    font-size: 12px !important;
  }
  .b-imagebox__left .b-imagebox__img {
    max-width:100px;
  }
  .b-imagebox__right .b-imagebox__img {
    max-width: 178px;
  }
  .b-slider__main {
    padding: 60px 0 0px!important;
  }
  .b-imagebox__text:after {
    display: none;
  }
  .b-imagebox__text {
    font-size: 14px;
    line-height: 1.2;
    position: absolute;
    top: -20px;
    left: 0;
    max-width: 100px;
  }
}