//colors
$header-color-bg: #000000;
$text-color-top: #a9abaf;
$btn-background: #39d84c;
$btn-background-hover: #37c44b;
$btn-order-background:#d40619;
$btn-color:#ffffff;
$text-color-submain:#c2c4eb;
$main-color-bg: #1f2147;
$color-span: #ffe200;
$btn-order-background-hover: #c10619;

//font
$primary-font-family:'MyriadPro-Regular';

$font-size-top:14px;
$font-size-btn:16px;

//border
$border-box-none:none;

//text-styles
$font-weight-bold:'robotobold';
$font-weight-medium: 'robotomedium';