include ../mixins/_mixins
header
    .b-header__top
        .b-top.content_middle
            .b-top__logo
                .b-logo
                    a(href="#", class="b-logo__link")
                        img.b-logo__img(src="img/logo.png")
            .b-top__list
                ul.b-list
                    li.b-list__item.b-list__item1 Сбалансированный состав
                    li.b-list__item.b-list__item2 Одобрен специалистами
                    li.b-list__item.b-list__item3 Быстрый результат
                .clearfix
            .b-top__callback
                a(href="#", class="b-callback" id="callback") Заказать звонок