include ../mixins/_mixins
doctype html
block variables

block head
+head-meta(
'Silverfruits',
'Home page',
'https://github.com/northconstellation/silverfruits/app/'
)
link(rel="stylesheet", href="css/style.min.css")
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
script(src="js/main.js")
body
block header
include ../includes/_header
block main